<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/portada"
        android:label="@string/app_name"
        android:roundIcon="@drawable/portada"
        android:supportsRtl="true"
        android:theme="@style/Theme.Adopt_pet"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".DetalleAdopcionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".vistaAdministrador.AdoptadosAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".vistaAdministrador.DetalleSolicitudActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".vistaAdministrador.SolicitudesAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".vistaUsuario.mascotaDetalleActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".autenticacion.RestablecimientoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".vistaAdministrador.PerfilAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".vistaAdministrador.DetallePublicacionesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".vistaAdministrador.PublicacionesAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".DeactivatedUserActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".vistaAdministrador.AdminViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".vistaUsuario.UsersScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".autenticacion.validarRolActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".autenticacion.VistaRegistrarseActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".autenticacion.VistaIniciarSesionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>